/*
Author: Vedant Nandoskar
Github: https://www.github.com/Vedant1202
Email: vedant.nandoskar@gmail.com
Description: CSS for Funds Request Amount page of mahavitaran
 */
body {
  background-color: #7bd3fc;
}

.row {
  margin-top: 60px;
}

.input-group-text {
  width: 160px;
}

.navbar {
  padding-left: 8%;
}

#nav-logo {
  width: 50%;
}

.navbar-nav {
  margin-left: 19%;
}

.nav-head {
  font-size: 44px;
  color: white !important;
  /* transition-timing-function: ease-in; */
  margin-right: 180px;
}

.nav-link {
  margin-top: 5px;
  font-size: 24px;
  color: white !important;
  transition-timing-function: ease-in;
}

.nav-link:hover {
  font-weight: 400;
  transition-timing-function: ease-in;
}

.main {
  margin-top: 9%;
}

#goBack {
  margin-right: 30px;
}

.amount-containers {
  width: 70%;
}

#next {
  margin-top: 100px;
}

/*  */
