/*
Author: Vedant Nandoskar
Github: https://www.github.com/Vedant1202
Email: vedant.nandoskar@gmail.com
Description: CSS for login page of mahavitaran
 */


body {
  background-image: url('../resources/img/backgrounds/tower_electricity.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 20px;
}

.main {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 1%;
  padding: 2%;
  margin-bottom: 2%;
}

#logo {
  width: 40%;
  margin: 2% 0% 5% 30%;
}


#loginForm {
  width: 60%;
  margin-left: 22%;
}

.submit-btn {
  margin-top: 5%;
}

.checkboxDiv {
  margin-top: 3%;
}


/* ==================================================================================== */
                                   /* CUSTOM CHECKBOX */
/* ==================================================================================== */


/* Customize the label (the container-checkbox) */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-bottom: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  /* background-color: #eee; */
  background-color: darkgrey;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* ==================================================================================== */



/*  */
