
<!--
Author: Vedant Nandoskar
Github: https://www.github.com/Vedant1202
Email: vedant.nandoskar@gmail.com
Description: HTML for Fund Request page of mahavitaran
-->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mahavitaran Home</title>

    <!-- ========================== CSS LIBRARIES IMPORTS ============================= -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="../css/libs/tabulator_bootstrap4.min.css">
    <link rel="stylesheet" href="../css/libs/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- ========================== CUSTOM CSS IMPORTS ============================= -->
    <link rel="stylesheet" href="../css/currentRequest.css">


    <!-- ========================== JS LIBRARIES IMPORTS ============================= -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>
    <script src="../js/libs/tabulator.min.js" charset="utf-8"></script>
    <script src="../js/libs/xlsx.full.min.js" charset="utf-8"></script>
    <script src="../js/libs/jszip.js" charset="utf-8"></script>

    <!-- ========================== UTILITY FUNCTIONS IMPORT ============================= -->
    <script src="../js/util.js" charset="utf-8"></script>

    <!-- ========================== CONTROLLER FUNCTIONS IMPORTS ============================= -->
    <!-- <script src="../controller/authenticate/.js" charset="utf-8"></script> -->

  </head>
  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded-bottom shadow sticky-top">
      <a class="navbar-brand" href="#">
        <img id="nav-logo" src="../resources/img/logo/logo_symbol.png" class="d-inline-block align-top rounded shadow-lg" alt="Mahavitaran Logo">
        <!-- Bootstrap -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item nav-heading">
            <span class="nav-head display-1">CURRENT REQUEST</span>
          </li>
          <li class="nav-item">
            <button class="nav-link display-1 btn btn-dark" id="goBack">Go Back</button>
          </li>
          <li class="nav-item">
            <button class="nav-link display-1 btn btn-dark" id="logout">Log out</button>
          </li>
        </ul>
      </div>
    </nav>

    <div class="main container">

      <div class="row">
        <div class="col-md-3">
          <h4 style="margin-top: 10%;">Total Requested Amount :</h4>
        </div>
        <div class="col-md-7">
          <table class="table table-borderless table-light shadow">
            <thead class="thead-light">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Gross Cheque Amount</th>
                <th scope="col">Gross RTGS Amount</th>
                <!-- <th scope="col">Card</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td id="chequeVal">10000</td>
                <td id="rtgsVal">20000</td>
                <!-- <td id="cardVal">---</td> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-2">
          <button class="btn btn-secondary btn-lg" style="margin-top: 15%; margin-left: 10%;" type="button" id="fundsReady">Funds ready</button>
        </div>
      </div>


      <div class="row">

        <table class="table table-borderless table-light shadow table-data">
          <thead class="thead-light">
            <tr>
              <th scope="col">Center</th>
              <th scope="col">Gross Cheque Amount</th>
              <th scope="col">Gross RTGS Amount</th>
              <th scope="col">Checklist</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <th scope="row">Mumbai</th>
              <td id="chequeVal">10000</td>
              <td id="rtgsVal">20000</td>
              <td id="cardVal"><input type="checkbox" value="yes"></td>
            </tr>
            <tr>
              <th scope="row">Thane</th>
              <td id="chequeVal">30000</td>
              <td id="rtgsVal">40000</td>
              <td id="cardVal"><input type="checkbox" value="yes"></td>
            </tr>
            <tr>
              <th scope="row">Pune</th>
              <td id="chequeVal">50000</td>
              <td id="rtgsVal">60000</td>
              <td id="cardVal"><input type="checkbox" value="yes"></td>
            </tr> -->
          </tbody>
        </table>

      </div>

      <div class="row" align="center">
        <div class="col-md-4">
          <button type="button" class="btn btn-secondary btn-lg">Accept</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-secondary btn-lg">Accept all</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-secondary btn-lg">Reset</button>
        </div>
      </div>

    </div>


  </body>

  <!-- ========================== CUSTOM JS IMPORTS ============================= -->
  <script src="../js/currentRequest.js" charset="utf-8"></script>

</html>
