
<!--
Author: Vedant Nandoskar
Github: https://www.github.com/Vedant1202
Email: vedant.nandoskar@gmail.com
Description: HTML for Register page of mahavitaran
-->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mahavitaran Home</title>
    <link rel="icon" href="../resources/img/logo/logo.ico">


    <!-- ========================== CSS LIBRARIES IMPORTS ============================= -->
    <link rel="stylesheet" href="../css/libs/bootstrap.min.css">


    <!-- ========================== CUSTOM CSS IMPORTS ============================= -->
    <link rel="stylesheet" href="../css/loading.css">


    <!-- ========================== JS LIBRARIES IMPORTS ============================= -->
    <script src="../js/libs/jquery.min.js" charset="utf-8"></script>
    <script src="../js/libs/popper.min.js" charset="utf-8"></script>
    <script src="../js/libs/bootstrap.min.js" charset="utf-8"></script>


    <!-- ========================== UTILITY FUNCTIONS IMPORT ============================= -->
    <script src="../js/util.js" charset="utf-8"></script>


  </head>
  <body>

    <div class="container" align="center">
      <div class="loading"></div>
      <h3 style="margin-top: 50px;">
        Loading... Please wait
      </h3>
    </div>

  </body>
</html>
